{% macro nav() %}
<nav class="navbar" w-tid="17" style="background: rgba(15, 23, 42, 0.95); box-shadow: none;">
        <div class="nav-container" w-tid="19">
            <div class="nav-brand" w-tid="21">
                <h1 w-tid="23">MCQBox</h1>
            </div>
            <div class="nav-menu" w-tid="25">
                <a href="/" class="nav-link" w-tid="27">Home</a>
                <a href="/categories" class="nav-link" w-tid="29">Categories</a>
                <a href="/class/6" class="nav-link" w-tid="33">About</a>
                <a href="" class="nav-link" w-tid="33">Contact</a>
            </div>
            <div class="nav-toggle" w-tid="35">
                <span w-tid="37"></span>
                <span w-tid="39"></span>
                <span w-tid="41"></span>
            </div>
        </div>
    </nav>
{% endmacro %}