{% from "micro/nav.html" import nav %}
{% extends "home.html" %}

{% block head %}
<title> MCQbox - Explore vast Categories </title>
<meta property="og:title" content="MCQbox - Explore vast Categories">
<meta property="og:url" content="/category">
<meta property="og:type" content="website">
<meta name="description" content="Explore a wide range of subjects and categories for MCQ practice.">
<!-- <link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/subject.css') }}" w-tid="13"> -->
{% endblock %}

{% block content %}

{{ nav() }}


<section class="categories" id="categories">
    <div class="container">
        <h1 style="text-align: center;">Learning Categories</h1>
        <div class="grid">
            {% for cat in category %}
            {%set string = cat.name.replace(" ", "-")%}
            <div class="card">
                <a href="/category/{{string}}">
                    <div>
                        <h2><span class="card-icon">📝</span>{{cat.name |title}}</h2>
                        <p>{{cat.description}}</p>
                        <!-- <a href="" class="btn">Start Learning</a> -->
                        <button class="btn">Start Learning</button>
                    </div>
                </a>

            </div>
            {%endfor%}
            <!-- <div class="card">
                <h3><span class="card-icon">📝</span>Science</h3>
                <p>Explore physics, chemistry, and biology through interactive questions. Build a strong foundation
                    in scientific principles.</p>
                <a href="#" class="btn">Start Learning</a>
            </div> -->
        </div>
    </div>
</section>
{% endblock %}