<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('frontend.static', filename='asset/icon.webp') }}" type="image/x-icon">
    {% block head %}
    {%endblock%}
</head>
<body w-tid="17">
    {% block content %}
    {%endblock%}
</body>
<script src="{{ url_for('frontend.static', filename='js/nav.js') }}" w-tid="311"></script>
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/style.css') }}">

</html>